 BODY {
  background: black;
  text-align: center;
}


.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table tr td{
  border:1px solid white;
  width: 23px;
  height: 23px;
  text-align: center;
}



.gameName {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-align: center; 
    color:#7FFFD4;
    margin: 25px 10px 10px 10px;
}
.wrapper {
    margin-top: 100px;
}
.button {
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 6px;
    min-width: 140px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
}
.gameOver {
    /* font-family: 'Satisfy', cursive;
    font-size: 15px;
    color: #7FFFD4;
    border-color: black;
    background-color: black;
    position: fixed;
    padding: 20px 80px 20px 80px;
    top: 110px;
    left: 40%;
    z-index: 3; */

}
.visited {
    background-color:#28deaa;
    color: white;
}
.value {
    background-color:#28deaa;
    color: white;
}
.bomb {
    background-color: white;
    width: 20px;
    height: 20px;
}
.flag {
    background-color:white;
    width: 20px;
    height: 20px;
}
.icon {
    width:25px;
    height:25px;
}
.iconName {
    font-size: 15px;
    color: white; 
    font-weight: 900;
}
.upper-deck{
    display:inline-flex;
}
.emoji {
    width:25px;
    height:25px;
    margin-left: 80px;
    margin-right: 80px;
}
#game-wrapper {
    display: none;
}
.try {
    margin-right:150px; 
}


